<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.jl.android.ufoanimation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.NoAnimationActivity"></activity>
        <activity android:name=".activities.LaunchUFOValueAnimatorAnimationActivity"></activity>
        <activity android:name=".activities.RotateUFOAnimationActivity"></activity>
        <activity android:name=".activities.AccelerateUFOAnimationActivity"></activity>
        <activity android:name=".activities.LaunchUFOObjectAnimatorAnimationActivity"></activity>
        <activity android:name=".activities.ColorAnimationActivity"></activity>
        <activity android:name=".activities.LaunchAndSpinAnimatorSetAnimatorActivity"></activity>
        <activity android:name=".activities.LaunchAndSpinViewPropertyAnimatorAnimationActivity"></activity>
        <activity android:name=".activities.FlyWithAlienAnimationActivity"></activity>
        <activity android:name=".activities.WithListenerAnimationActivity"></activity>
        <activity android:name=".activities.FlyThereAndBackAnimationActivity"></activity>
        <activity android:name=".activities.XmlAnimationActivity"></activity>
    </application>

</manifest>